#ngitems {
    width: 500px;
}

.pat-text {
    color: darkblue;
    width: 150px;
}

.tab-text {
    color: darkblue;
    width: 250px;
}

.cascades {
}

.btnProd {
    margin-left: 15px;
}

#items {
    width: 500px;
}

.product-section .k-button {
    margin: 1px 0 1px 1px;
}

.doublewide {
    width: 250px;
}

.ddddl {
    width: 250px;
}

.nav-tabs > li.active > a {
    color: #337ab7;
    font-weight: bold;
}

.help-text {
    color: green;
    font-weight: normal;
    font-size: x-small;
}

.middlebtn {
    display: block;
    margin: auto;
}


.savingsCardsection-right {
    float: left;
    width: 233px;
    height: 128px;
}

.PATItemStyle {
    min-height: 152px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.SC-holder {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%) repeat scroll 0 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 8px #999999;
    box-sizing: border-box;
    margin-bottom: 1.5em;
    padding: 0.75em;
    position: relative;
}

.noBottomMargin {
    margin-bottom: 0;
}

p {
    margin-bottom: 1.618em;
    max-width: 30em;
}


.checkbox {
    margin: 24px 0;
}

.blue {
    color: #2178b5;
}

.radio_label {
    display: block;
    margin-left: 1.5em;
    margin-top: -1.625em;
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height: 1.625;
    margin-bottom: 0.563em;
}

a.drugLinks {
    display: inline;
    margin-top: 0;
}
a, a:visited {
    color: #2178b5;
    outline: medium none;
    text-decoration: underline;
}

.usercell {
    padding: 0px 10px 0px 0px;
}